.card {
	padding: 10px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}
.card img {
	width: 300px;
    border-radius: 60px;
    display: block;
    margin-bottom: 50px;
    margin-right: 20px;
}
.card h3 {
	font-size: 30px;
}